.toptable{
	border-collapse: collapse;
}

.topcells{
	padding: 2px;
	border: 2px solid gray;
	border-style: dotted;
}

.disp{	
	display: block;
	margin-top: 50px;
	margin-left: auto;
    margin-right: auto;
	max-width: 50%;
}

a {
    margin: 10px;
    padding: 30px;	
	font-weight: bolder;
}


#description{
	text-align: center;
	font-weight: bold;
}

h3{
	width: 90%;
	text-align: center;
	font-weight: normal;
}



.datatable, .dataheader{
	padding: 5px;
	border-collapse: collapse;
	border: 1px solid gray;	
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}

.datacell{
	padding-left: 6px;
	padding-right: 6px;
	font-weight: normal;
	border: 1px solid gray;	
}

