.disp{	
	display: block;
	margin-top: 50px;
	margin-left: auto;
    margin-right: auto;
	max-width: 50%;
}


#description{
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}

h3{
	font-weight: normal;
	text-indent: 50px;
	text-align: justify;
	letter-spacing: 3px;
}


.datatable, .dataheader{
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}

.dataheader{
	padding: 5px;
	border-collapse: collapse;
	border: 1px solid gray;	
	background-color: lightgray;
}

.datacell{
	padding-left: 6px;
	padding-right: 6px;
	font-weight: normal;
	border: 1px solid gray;	
}

ul {  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
}

li a{
  
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul a{
	float: left;	
}

li a:hover {
  background-color: darkgray;
}

ol{
	float: none;
	text-align: center;
	background: gray;
}

ol .top:hover {
  background-color: darkgray;
}






